.top-nav
{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000000;
}
.top-icons span
{
  margin-left: 2rem;
  clip-path: circle();
  font-size: 22px;
}

@media  screen and (max-width:768px) {

  .top-nav{
    display: none;
  }
  
}